
.wave {
  width: 28em;
  height: 16em;
  border: 1px black solid;
  background-size: 18px 18px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}
.osc1 {
  grid-column: 1 / 1;
  grid-row: row-start / row-end 1;

  .effect {
    .pan {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: #FEFCFB;
    }
    .unison {

    }
    .volume {

    }
  }
}
.osc2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  
  .effect {
    .pan {

    }
    .unison {

    }
    .volume {

    }
  }
}
