
.wave {
  width: 28em;
  height: 16em;
  border: 1.5px $outline;
  border-radius: 5px;
  background-size: 18px 18px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}
.osc1 {
  grid-column: col-start 1 / col-end 1;
  grid-row: row-start 1 / row-end 1;

  .effect {
    .pan {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: #FEFCFB;
    }
    .unison {

    }
    .volume {

    }
  }
}
.osc2 {
  grid-column: col-start 2 / col-end 2;
  grid-row: row-start 1 / row-end 1;

  .effect {
    .pan {

    }
    .unison {

    }
    .volume {

    }
  }
}
