html {

}

.osc1 {
  .wave {

  }
  .effect {
    .pan {
      width: 15em;
      height: 15em;
      border-radius: 50%;
      background: #FEFCFB;
    }
    .unison {

    }
    .volume {

    }
  }
}
.osc2 {
  .wave {

  }
  .effect {
    .pan {

    }
    .unison {

    }
    .volume {

    }
  }
}
